.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* container */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header-mobile */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-list,
.contacts {
  display: none;
}
.logonav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  padding: 16px 0;
  display: block;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* header-tablet */
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-menu {
    display: flex;
    align-items: center;
  }
  .logonav {
    padding: 24px 0;
    margin-right: 120px;
  }
  .menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .menu-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
  }
  .link {
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link::after {
    display: block;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color: #404bbf;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-info {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-list .menu-link-blue,
  .page-header .link:hover,
  .page-header .link:focus,
  .page-header .contacts-info:hover,
  .page-header .contacts-info:focus {
    color: #404bbf;
  }
}

/* header-desctop */
@media screen and (min-width: 1158px) {
  .logonav {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-info {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-contacts-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-link:hover,
.mobile-link:focus,
.mobile-contacts-info:hover,
.mobile-contacts-info:focus {
  color: #404bbf;
}
.mobile-social-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.page-footer-social {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:active {
  background-color: #31d0aa;
}
.link-footer .icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* solutions-mobile */
.solutions {
  padding: 72px 52px;
  background-color: #2e2f42;
  max-width: 320px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background_m.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background_m@2x.jpg);
  }
}
.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  display: block;
  margin: 0 auto 72px auto;
}
.page-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  height: 56px;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-button:active {
  background-color: #404bbf;
}

/* solutions-tablet */
@media screen and (min-width: 768px) {
  .solutions {
    padding: 112px 136px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background_t.jpg");
  }
  @media screen and (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background_t@2x.jpg);
    }
  }

  .page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    display: block;
    margin: 0 auto 36px auto;
  }
  .page-button:hover,
  .page-button:focus {
    background-color: #404bbf;
  }
}

/* solutions-desctop */
@media screen and (min-width: 1158px) {
  .solutions {
    padding: 188px 316px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background.jpg");
  }
  @media screen and (min-resolution: 192dpi) {
    .solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/background@2x.jpg);
    }
  }
  .page-title {
    margin: 0 auto 48px auto;
  }
}

/* feature-mobile */
.section-feature {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-all-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}
.features-card {
  display: block;
  width: 100%;
}
.features-card-icon-wrap {
  display: none;
}
.features-add-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.features-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* feature-tablet */
@media screen and (min-width: 768px) {
  .features-all-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }
  .features-card {
    display: block;
    width: calc((100% - 24px) / 2);
  }
  .features-add-title {
    text-align: left;
  }
}
/* feature-desctop */
@media screen and (min-width: 1158px) {
  .section-feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-all-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .features-card {
    display: block;
    width: calc((100% - 72px) / 4);
  }
  .features-card-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    width: 264px;
    height: 112px;
    position: relative;
    margin-bottom: 8px;
  }
  .features-card-icon {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 24px;
    left: 100px;
    right: 100px;
    bottom: 24px;
  }
  .features-add-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .features-description {
    font-weight: 400;
    font-size: 16px;
  }
}
/* team-mobile */
.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-four-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}
.team-photo {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  display: block;
  max-width: 264px;
}
.employee-and-his-position {
  padding: 32px 16px;
}
.team--add-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.our-team-four-cards-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.our-team-four-cards-social {
  width: 40px;
  height: 40px;
}
.link-our-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-our-team:active {
  background-color: #404bbf;
}
.our-team-four-cards-social .icon {
  fill: #f4f4fd;
}
/* team-tablet */
@media screen and (min-width: 768px) {
  .our-team-four-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
    align-items: center;
  }
  .team-photo {
    width: calc((100% - 24px) / 2);
  }
  .link-our-team:hover,
  .link-our-team:focus {
    background-color: #404bbf;
  }
}
/* team-desctop */
@media screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-four-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .team-photo {
    width: calc((100% - 72px) / 4);
  }
}
