.container {
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}

.modal-form-close-btn:hover,
.modal-form-close-btn:focus-within {
  background-color: #404bbf;
  border: none;
}
.modal-form-close-btn:hover .modal-form-close-btn-icon,
.modal-form-close-btn:focus-within .modal-form-close-btn-icon {
  fill: #fff;
}

.form-input:focus,
.form-input:hover {
  border: 1px solid #4d5ae5;
}
.form-input:focus + .input-wrapper-form-icon,
.form-input:hover + .input-wrapper-form-icon {
  fill: #4d5ae5;
}
.input-wrapper {
  position: relative;
}
.modal-form-field-comment {
  margin-bottom: 16px;
}

.form-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus,
.form-textarea:hover {
  border: 1px solid #4d5ae5;
}
.input-wrapper-form-icon {
  position: absolute;
  padding: 3px 0px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 16px;
  z-index: 800;
  fill: #2e2f42;
  cursor: pointer;
}
.modal-policy {
  margin-bottom: 24px;
}

.modal-policy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-custom {
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 2px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-custom-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-input-link {
  text-decoration: underline;
  line-height: 133%;
  color: #4d5ae5;
}
input:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-send-btn {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-send-btn:hover,
.modal-form-send-btn:focus {
  background-color: #404bbf;
}
